* {
    box-sizing: border-box;
}
body {
    padding: 6px;
    margin: 15px 30px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: left;
    font: bold;
    font-family:'Times New Roman', Times, serif;

}
h2 {
    color: whitesmoke;
    font-family:'Times New Roman', Times, serif ;
    
}
.container {
    width: 100%;
    padding: 2px;
    color: white;
    background-color: rgb(131, 161, 89);
    border: 2px solid;
    border-radius: 4px;
    margin: 4px;
}
input[type="Submit"]:hover{
    color: black;
    background-color: rgb(64, 184, 134);
}
input[type="name"],
input[type="email"],
input[type="message"],
select, 
textarea {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}
input[type="Submit"] {
    width: 10%;
    background-repeat: no-repeat;
    border-radius:6px;
    height: 30px;
}